.container {
  padding-bottom: 100px;
}
#indicator li {
  background-color: orange;
}
.buy-now {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
.card-footer {
  background-color: white;
  border: none;
}
.card {
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  transition: 1s;
}
.card:hover {
  transition: 0.5s;
  transform: scale(1.03);
}
hr {
  background-color: orange;
  width: 150px;
  padding-top: 0;
  margin-top: 0;
  border: 5px solid orange;
  border-radius: 20px;
}
.row {
  margin: 20px;
  padding: 20px;
}
.bag {
  box-shadow: 5px 5px 10px;
  border-radius: 0px 10px;
}
.style {
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px 0;
}
.shoe {
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px 0;
}
.all {
  color: orange;
  font-size: 20px;
  margin-bottom: 70px;
  font-weight: bold;
}
.horiz {
  width: 70px;
  border: 4px solid orange;
}
.control {
  background-color: orange;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  margin: 5%;
  background-color:orange;
  border-radius: 100%;
  padding: 10px;
}
.col-md-7{
  padding-left: 70px;
}
